@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

h1 {
  color: #fff;
}

#numero {
  margin-top: 20%;
}

#numero,
#simboloTop,
#simboloBottom {
  font-size: 100px;
}

.card {
  background-color: #fff;
  width: 30%;
  height: 550px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
}

#simboloTop {
  display: inline-block;
  position: relative;
  left: 10px;
  font-size: 100px;
  width: 60px;
  height: 100px;
}

#simboloBottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

button {
  margin-bottom: 30px;
}
